# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [4]:
file = './drinks.csv'
drinks = pd.read_csv(file)
drinks = drinks.set_index('continent')

### Step 4. Which continent drinks more beer on average?

In [17]:
beers = drinks.beer_servings
beers_avg = beers.groupby('continent').mean()
print("Continent that drinks most beers: ", beers_avg.idxmax())

Continent that drinks most beers:  EU

### Step 5. For each continent print the statistics for wine consumption.

In [30]:
wine = drinks.wine_servings
wine_avg = wine.groupby('continent').mean()
for continent in wine_avg.index:
    print(continent, ":",  wine_avg[continent], " servings")

AF : 16.264150943396228  servings
AS : 9.068181818181818  servings
EU : 142.22222222222223  servings
OC : 35.625  servings
SA : 62.416666666666664  servings

### Step 6. Print the mean alcoohol consumption per continent for every column

In [58]:
print("Mean alcoohol consumption per continent\n")
drinks_avg = drinks.groupby('continent').mean()
for column in drinks_avg.columns:
    print(column, ":")
    for continent in drinks_avg.index:
        print(continent, ":", drinks_avg.loc[continent,column])
    print("\n")

Mean alcoohol consumption per continent

beer_servings :
AF : 61.471698113207545
AS : 37.04545454545455
EU : 193.77777777777777
OC : 89.6875
SA : 175.08333333333334


spirit_servings :
AF : 16.339622641509433
AS : 60.84090909090909
EU : 132.55555555555554
OC : 58.4375
SA : 114.75


wine_servings :
AF : 16.264150943396228
AS : 9.068181818181818
EU : 142.22222222222223
OC : 35.625
SA : 62.416666666666664


total_litres_of_pure_alcohol :
AF : 3.00754716981132
AS : 2.1704545454545454
EU : 8.617777777777777
OC : 3.3812500000000005
SA : 6.308333333333334

### Step 7. Print the median alcoohol consumption per continent for every column

In [60]:
print("Median alcoohol consumption per continent\n")
drinks_median = drinks.groupby('continent').median()
for column in drinks_median.columns:
    print(column, ":")
    for continent in drinks_median.index:
        print(continent, ":", drinks_median.loc[continent,column])
    print("\n")

Median alcoohol consumption per continent

beer_servings :
AF : 32.0
AS : 17.5
EU : 219.0
OC : 52.5
SA : 162.5


spirit_servings :
AF : 3.0
AS : 16.0
EU : 122.0
OC : 37.0
SA : 108.5


wine_servings :
AF : 2.0
AS : 1.0
EU : 128.0
OC : 8.5
SA : 12.0


total_litres_of_pure_alcohol :
AF : 2.3
AS : 1.2
EU : 10.0
OC : 1.75
SA : 6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [95]:
print("Mean, min and max values of spirit consumption\n")
spirits = drinks.spirit_servings

axis=0
smean_w = spirits.mean(axis=axis)
smin_w = spirits.min(axis=axis)
smax_w = spirits.max(axis=axis)

spirits_group = spirits.groupby('continent')
smean = spirits_group.mean()
smin = spirits_group.min()
smax = spirits_group.max()

sdict = dict(smean=smean,smin=smin,smax=smax)

spirits_df = pd.DataFrame(sdict, index=smean.index)

spirits_df.loc['Worldwide'] = dict(smean=smean_w,smin=smin_w,smax=smax_w)

spirits_df

Mean, min and max values of spirit consumption

                smean  smin  smax
continent
AF          16.339623     0   152
AS          60.840909     0   326
EU         132.555556     0   373
OC          58.437500     0   254
SA         114.750000    25   302
Worldwide   80.994819     0   438